@at-root {
	// Import the fonts

	@font-face {
		font-family: 'Source Serif Pro';
		src: url('#{$font-path}/sourceserifpro/sourceserifpro-regular-webfont.woff2') format('woff2'),
			   url('#{$font-path}/sourceserifpro/sourceserifpro-regular-webfont.woff') format('woff'),
			   url('#{$font-path}/sourceserifpro/sourceserifpro-regular-webfont.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Source Serif Pro';
		src: url('#{$font-path}/sourceserifpro/sourceserifpro-bold-webfont.woff2') format('woff2'),
			   url('#{$font-path}/sourceserifpro/sourceserifpro-bold-webfont.woff') format('woff'),
			   url('#{$font-path}/sourceserifpro/sourceserifpro-bold-webfont.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	
	}
}