@at-root {
  // **** Source Code Pro [Monotype]
  // Uses Regular weight for normal weight and Semi-Bold weight for bold weight 
  // Uses Regular style for both normal and italic style

  
  // Font Weight - Normal
  // Font Style - Normal
  @font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), 
         url('#{$font-path}/sourcecodepro/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-regular-webfont.woff') format('woff'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Font Weight - Bold
  // Font Style - Normal
  @font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), 
         url('#{$font-path}/sourcecodepro/sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-bold-webfont.woff') format('woff'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  // Font Weight - Normal
  // Font Style - Italic
  @font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), 
         url('#{$font-path}/sourcecodepro/sourcecodepro-it-webfont.woff2') format('woff2'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-it-webfont.woff') format('woff'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  // Font Weight - Bold
  // Font Style - Italic
  @font-face {
    font-family: 'Source Code Pro';
    src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), 
         url('#{$font-path}/sourcecodepro/sourcecodepro-semiboldit-webfont.woff2') format('woff2'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-semiboldit-webfont.woff') format('woff'),
         url('#{$font-path}/sourcecodepro/sourcecodepro-semiboldit-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
}